.Slide{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../media/pexels-luis-gomes-546819.jpg);
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    color: #fff;
}

.H3{
    width: 65%;
    margin: 18% auto;
    font-size: 250%;
    font-weight: 200;
    text-align: justify;
}

.Slide span{
    font-weight: 600;
    color: #0abde3;
    font-size: 130%;
}

.Logos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    width: 50%;
    margin: 15% auto;
}

.Logos h3{
    width: 100%;
    font-size: 250%;
    font-weight: 200;
    text-align: justify;
}

.Logos svg{
 margin-right: 12px;
 height: 90px;
 color: #0abde3;
}
